:root {
  --h1-fonts: 2.2rem;
  --h2-fonts: 2rem;
  --p-fonts: 0.8rem;
  --color-fonts: #1665ff;
  --color-p-fonts: #000000;
  --alt-color: rgb(82, 90, 92);
}

.main-body {
  width: 100%;
}

.main-body header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1%;
  width: 100%;
  height: 7vh;
}

.main-body header img {
  width: 150px;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .main-body header img {
    width: 100px;
  }
}

.main-body header nav {
  height: 100%;
}

.main-body header nav .menu {
  display: none;
}

.main-body header nav .menu .menuicon {
  position: absolute;
  top: 0%;
  right: 0%;
  padding-top: 1%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 2;
}

.main-body header nav .menu .menulist {
  position: absolute;
  top: 0%;
  right: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  text-align: center;
  height: 100vh;
  background: #ccd3e2;
  z-index: 1;
}

.main-body header nav .menu .menulist h2 {
  text-transform: uppercase;
  position: absolute;
  top: 2%;
  width: 100%;
  text-align: center;
  margin: 3rem 0;
}

.main-body header nav .menu .menulist li {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: var(--p-fonts);
  cursor: pointer;
  margin: 0.5rem 0.2rem;
  text-align: center;
  border-radius: 15px;
  -webkit-box-shadow: 5px 10px 10px #2d2f33;
          box-shadow: 5px 10px 10px #2d2f33;
  border-bottom: 2px solid #2d2f33;
  background-color: var(--alt-color);
}

.main-body header nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-body header nav .nav-list li {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--p-fonts);
  cursor: pointer;
  margin: 0.2rem;
  border-radius: 15%;
  -webkit-box-shadow: 5px 10px 10px #2d2f33;
          box-shadow: 5px 10px 10px #2d2f33;
  border-bottom: 2px solid #2d2f33;
  background-color: var(--alt-color);
}

.main-body header nav .nav-list li:hover {
  background-color: #2d2f33;
  -webkit-box-shadow: 0 0 10px #2d2f33, 0 0 10px #2d2f33, 0 0 10px #2d2f33;
          box-shadow: 0 0 10px #2d2f33, 0 0 10px #2d2f33, 0 0 10px #2d2f33;
  color: var(--color-fonts);
}

@media screen and (max-width: 600px) {
  .main-body header nav .menu {
    display: block;
  }
  .main-body header nav .nav-list {
    display: none;
  }
}

.main-body .social-presence {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10rem;
  padding-left: 10px;
}

.main-body .social-presence #icon {
  cursor: pointer;
  padding: 10px;
  width: 60px;
  height: 60px;
  color: black;
}

.main-body .social-presence #icon:hover {
  background: rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
}

.main-body .welcome-page {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.main-body .welcome-page .image {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-image: url("./tools/personal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

.main-body .welcome-page .screen-svg {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 20%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-position: center;
  background-image: url("./tools/un.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -2;
}

.main-body .welcome-page h3 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  z-index: -1;
}

.main-body .lines-and-circle {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5%;
  width: 2px;
  height: 80vh;
  background-color: #1665ff;
  z-index: -3;
}

.main-body .secong-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.main-body .secong-page .cards {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

.main-body .secong-page .cards div {
  position: relative;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.699);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 30px;
  border-bottom: 5px solid var(--color-fonts);
  border-top: 5px solid var(--color-fonts);
}

.main-body .secong-page .cards .card1-about {
  border-bottom-right-radius: 20%;
}

.main-body .secong-page .cards .card2-about {
  border-top-left-radius: 20%;
}

.main-body .secong-page .green-grass {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-position-x: -10px;
  background-image: url("./tools/grass4.svg");
  background-position: center;
  background-repeat: repeat-x;
  background-size: contain;
}

.main-body .third-page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-body .third-page .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  border-bottom: 2px solid var(--color-fonts);
}

.main-body .third-page .cards .heading {
  width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  border-right: 2px solid var(--color-fonts);
}

.main-body .third-page .cards p {
  padding: 20px;
}

.main-body .contacts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 70vh;
}

.main-body .contacts h2 {
  margin-top: 10rem;
}

.main-body .contacts form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-body .contacts form .name-email-feild {
  width: 30vw;
  margin-bottom: 3rem;
}

.main-body .contacts form #textarea {
  width: 60vw;
  text-align: center;
}
/*# sourceMappingURL=mainpage.css.map */